<!--
    Test the page rendering template
    GET Method
    The function in the view renders the Html template in the templates to get the page of the dynamic content-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchKeys Weibo Data</title>
</head>
<body>
<div>
    <p>SearchKeys WeiboData Test Link</p>
    <div>
        <a href="/weibo_keys/keys/请回答1988/pageNum/2/" target="_blank" title="">Go to test page</a>
    </div>
    <div>
        <a href="/img/keys/请回答1988/pageNum/2/" target="_blank" title="">Go to img page</a>
    </div>

</div>

</body>
</html>